/* Configuration ================================ */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
  /** colors */
  --primary: 10;
  --secondary: 60;
  --bg-color: 0 0% 0%;
  --text-color: 0 0% 100%;

  /** sizes */
  --size-base: 0.5rem;
}

/* RESET ================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

/* BASIC ================================ */
body {
  background: hsl(var(--bg-color));
  min-height: 200vh; /* to view menu moving */
}

/* MENU FIXED STICKY ================================ */
header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;

  width: 100%;
  padding: calc(var(--size-base) * 5) calc(var(--size-base) * 8);

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition-property: background, padding, height;
  transition-duration: 0.6s;
}

@media (min-width: 768px) {
  header {
    position: fixed;
  }

  header.sticky {
    padding: calc(var(--size-base) / 2) calc(var(--size-base) * 8);
    background: hsl(var(--text-color) / 90%);
  }

  header.sticky a {
    color: hsl(var(--bg-color));
  }
}

header .logo {
  position: relative;
  font-weight: 700;
  color: hsl(var(--text-color) / 90%);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li a {
  margin: 0 var(--size-base);
  color: hsl(var(--text-color) / 80%);
  letter-spacing: 0.1rem;
  font-weight: 500;
}

header ul li a:hover {
  color: hsl(var(--text-color) / 60%);
}

/* Menu Mobile ============================ */
.mobile-menu {
  display: none;

  background: transparent;
  border: 0;
}

.mobile-menu span {
  display: block;
  margin-bottom: var(--size-base);
  border-top: 2px solid hsl(var(--text-color) / 90%);
  width: calc(var(--size-base) * 5);

  transition: 0.2s;
}

@media (max-width: 768px) {
  body.no-scroll {
    overflow: hidden;
  }

  header {
    padding: calc(var(--size-base) * 3);
  }

  .mobile-menu {
    display: block;
    position: relative;
    z-index: 1000;
  }

  header nav.active {
    display: grid;
    place-items: center;
  }

  header nav ul {
    display: none;
  }

  header nav.active ul {
    display: block;
  }

  header nav.active {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100%;

    background: hsl(0 0% 0% / 80%);

    text-align: center;

    overflow-y: auto;
  }

  header nav.active ul li + li {
    margin-top: calc(var(--size-base) * 8);
  }

  header nav.active ul li a {
    font-size: 200%;
    color: hsl(var(--text-color) / 90%);
  }

  header nav.active + .mobile-menu span:nth-child(1) {
    display: none;
  }

  header nav.active + .mobile-menu span:nth-child(2) {
    transform: rotate(45deg) translateY(350%) scale(0.8);
  }

  header nav.active + .mobile-menu span:nth-child(3) {
    transform: rotate(-45deg) translateY(-350%) scale(0.8);
  }
}

/* HERO =================================== */
.banner {
  width: 100%;
  height: 100vh;
  background: hsl(308, 96%, 9%);
}
