/* Configuration ================================ */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
  /** colors https://www.w3schools.com/colors/colors_hsl.asp*/
  --primary: 280;

  --bg-color: var(--primary) 100% 50%;
  --text-color: 0 0% 100%; /* 0 0% 100% = white | 0 0% 0% = black */
  --text-inside-primary: 0 0% 100%;

  /** sizes */
  --size-base: 0.5rem;

  /** hero */
  --hero-bg-overlay: hsl(var(--primary) 10% 0% / 50%);
  --hero-blend-mode: hsl; /* color, hsl, multiply, overlay, darken, */
  --hero-font-size: calc(var(--size-base) * 8);
  --hero-text-color: hsl(var(--text-color));
}

/* RESET ================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

/* BASIC ================================ */
body {
  min-height: 100vh; /* to view menu moving */
}

.sr-only {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border-width: 0;
  white-space: nowrap;
}

/* MENU FIXED STICKY ================================ */
header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;

  width: 100%;
  padding: calc(var(--size-base) * 5) calc(var(--size-base) * 8);

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition-property: background, padding, height;
  transition-duration: 0.6s;
}

/** sticky only in desktop */
@media (min-width: 768px) {
  header {
    position: fixed;
  }

  header.sticky {
    padding: calc(var(--size-base) / 2) calc(var(--size-base) * 8);
    box-shadow: 0 0.2rem 0.8rem -0.2rem hsl(0 0% 0% / 5%);

    /** with primary bg color
      background: hsl(var(--bg-color) / 90%);
    */
    background: white;
  }

  header.sticky a {
    /** when primary bg color
    color: hsl(var(--text-inside-primary) / 95%);
    */
    color: hsl(0 0% 0% / 90%);

    transition: 0.2s;
  }

  header.sticky ul li a:hover {
    /** when primary bg color
    color: hsl(var(--text-inside-primary) / 100%);
    */
    color: hsl(var(--bg-color) / 100%);
  }

  header.sticky ul li a.active {
    color: hsl(var(--bg-color) / 100%);
  }
}

header .logo {
  position: relative;
  font-weight: 700;
  color: hsl(var(--text-color) / 90%);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li a {
  color: hsl(var(--text-color) / 90%);
  letter-spacing: -0.01rem;
  font-weight: 500;
  transition: 0.2s;
}

header ul li + li {
  margin-left: calc(var(--size-base) * 3);
}

header ul li a:hover {
  color: hsl(var(--text-color) / 60%);
}

/* Menu Mobile ============================ */
.mobile-menu {
  display: none;

  background: transparent;
  border: 0;
}

.mobile-menu span {
  display: block;
  margin-bottom: var(--size-base);
  border-top: 2px solid hsl(var(--text-color) / 90%);
  width: calc(var(--size-base) * 5);

  transition: 0.2s;
}

@media (max-width: 768px) {
  body.no-scroll {
    overflow: hidden;
  }

  header {
    padding: calc(var(--size-base) * 3);
  }

  .mobile-menu {
    display: block;
    position: relative;
    z-index: 1000;
  }

  header nav.active {
    display: grid;
    place-items: center;
  }

  header nav ul {
    display: none;
  }

  header nav.active ul {
    display: block;
  }

  header nav.active {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100%;

    background: hsl(0 0% 0% / 93%);

    text-align: center;

    overflow-y: auto;
  }

  header nav.active ul li + li {
    margin-top: calc(var(--size-base) * 8);
  }

  header nav.active ul li a {
    font-size: 200%;
    color: hsl(var(--text-color) / 90%);
  }

  header nav.active + .mobile-menu span:nth-child(1) {
    display: none;
  }

  header nav.active + .mobile-menu span:nth-child(2) {
    transform: rotate(45deg) translateY(350%) scale(0.8);
  }

  header nav.active + .mobile-menu span:nth-child(3) {
    transform: rotate(-45deg) translateY(-350%) scale(0.8);
  }
}

/* HERO =================================== */
.hero {
  /* box */
  width: 100%;
  height: 100vh;
  background: hsl(308, 96%, 9%);
  /** pizza 
  */
  background-image: url('https://images.unsplash.com/photo-1513104890138-7c749659a591?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');

  /** hairdresser 
  background-image: url('https://images.unsplash.com/photo-1559599101-f09722fb4948?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80');
  */

  /** law firm
  background-image: url('https://images.unsplash.com/photo-1589829545856-d10d557cf95f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  */

  background-image: url(https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);

  background-position: center;
  background-size: cover;

  /*content*/
  font-size: var(--hero-font-size);
  color: var(--hero-text-color);

  /** content center (auto) 
  display: grid;
  place-content: center;
  */

  /** content center (y) 
  */
  display: flex;
  align-items: center;

  /** content from top 
  padding-top: 22rem;
  */

  /** content left 
  */
  padding-left: 4rem;

  /** content right 
  padding-right: 4rem;
  text-align: right;
  */
}

.hero .overlay {
  /* box */
  width: 100%;
  height: 100%;
  background: var(--hero-bg-overlay);
  mix-blend-mode: var(--hero-blend-mode);

  /* content */
  content: ' ';

  /* position */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero .content {
  position: relative;
  z-index: 1;
}

.hero h1,
.hero h2 {
  /* content */
  line-height: 1em;
}

.hero h1 {
  font-size: 1.2em;
}

.hero h2 {
  font-size: 1em;
}

.hero p {
  margin: calc(var(--size-base) * 4) 0;
  letter-spacing: 0.1rem;
  font-size: 0.3em;
  opacity: 0.9;

  max-width: 50rem;
}

.hero a {
  /*box*/
  background: hsl(var(--bg-color) / 100%);
  padding: calc(var(--size-base) * 1.5);
  width: calc(var(--size-base) * 22);
  border-radius: var(--size-base);

  /* content */
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(var(--text-inside-primary) / 95%);
  font-size: 0.25em;

  /* features */
  transition: 0.5s;
}

.hero a i {
  font-size: 1.5rem;
  margin-left: var(--size-base);
}

.hero a:hover {
  background: hsl(var(--bg-color) / 70%);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .hero {
    font-size: calc(var(--hero-font-size) / 1.8);
    padding: 15rem 2rem;
  }

  .hero a {
    font-size: 0.4em;
  }
}

/* ABOUT =================================== */
#about {
  background: hsl(49, 100%, 89%);
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-size: 2rem;
}

/* SERVICES =================================== */
#services {
  background: hsl(101, 100%, 92%);
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-size: 2rem;
}

/* Testimonial =================================== */
#testimonial {
  background: hsl(220, 20%, 97%);
  display: grid;
  place-items: center;
  height: 100vh;
}

#testimonial .content {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  width: 100%;
}

#testimonial img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#testimonial .testimonials {
  max-width: 30rem;
  align-self: center;
}

#testimonial .testimonials .item {
  cursor: grab;
}

blockquote {
  line-height: 1.7;
  font-weight: 500;
  padding: calc(var(--size-base) * 7);
  text-align: center;
  font-size: calc(var(--size-base) * 2);
  position: relative;
}

blockquote::before {
  content: '\201D';
  font-family: serif;
  font-size: 6.5rem;
  line-height: 1;
  font-weight: normal;
  opacity: 0.3;

  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Contact =================================== */
#contact {
  background: url(https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-size: 2rem;
}

/* Slider =================================== */
.tns-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.tns-nav button {
  border: none;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: black;
  opacity: 0.3;
}

.tns-nav button.tns-nav-active {
  border: 2px solid black;
  background: transparent;
  transform: scale(1.2);
  opacity: 1;
}

/* Back to top button ======================== */
#back-to-top {
  position: fixed;
  bottom: -2rem;
  right: 2rem;

  opacity: 0;
  visibility: hidden;
  transition: 0.6s;

  background: none;
  border: none;

  font-size: 3rem;
  color: hsl(var(--primary) 100% 50%);

  cursor: pointer;
}

#back-to-top.show {
  bottom: 2rem;
  visibility: visible;
  opacity: 1;
}
