/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

/*==================== RESET ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 4.3125rem;

  /*========== Colors ==========*/
  /* Choose your prefered color */
  --hue: 159; /* Green 159 - Orange 36 - Purple 270 - Pink 345 */

  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /*========== Font & typography ==========*/
  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;

  /* .5rem = 8px, 1rem = 16px */
  --big-font-size: 2rem;
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1.5rem;
  --subtitle-font-size-small: 1rem;
  --normal-font-size: 0.938rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margins ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --m-0-25: 0.25rem;
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 1.5rem;
  --m-3: 3rem;
  --m-4: 4rem;

  /*========== z index ==========*/
  --z-top: 10;
  --z-fixed: 100;
}

/* large devices: 992 > */
@media screen and (min-width: 992px) {
  :root {
    --big-font-size: 3rem;
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.5rem;
    --subtitle-font-size-small: 1.125rem;
    --normal-font-size: 1rem;
  }
}

/*========= BASE =========*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);

  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  color: var(--title-color);
  font-weight: var(--font-bold);
  letter-spacing: -2px;
  -webkit-font-smoothing: auto;
}

/*========= REUSABLE CLASSES =========*/
.section {
  padding: 10rem 0;
}

.section .title {
  font-size: var(--title-font-size);
  margin-bottom: var(--m-0-75);
}

.section .subtitle {
  font-size: var(--subtitle-font-size-small);
  margin-bottom: var(--m-3);
  font-weight: 400;
}

.section .title,
.section .subtitle {
  max-width: 32.75rem;
  margin-left: auto;
  margin-right: auto;
}

.section header.center {
  text-align: center;
}

.section .subtitle strong {
  color: var(--base-color);
}

.divider-1 {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    270deg,
    var(--base-color),
    hsl(var(--hue) 65% 88% / 0.34)
  );
}

.divider-2 {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    270deg,
    hsl(var(--hue) 65% 88% / 0.34),
    var(--base-color)
  );
}

/*========= BUTTONS =========*/
.button {
  color: var(--text-color-light);
  background: var(--base-color);
  height: 3.125rem;

  display: inline-flex;
  align-items: center;
  line-height: 0;

  padding: 0 2rem;

  border-radius: 0.25rem;
  transition: background 0.3s;

  font-weight: var(--font-medium);
}

.button:hover {
  background: var(--base-color-alt);
}

/*========= LAYOUT =========*/
.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

#header {
  display: flex;
  border-bottom: 1px solid #e4e4e4;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: var(--body-color);
}

/* Change header on scroll */
#header.scroll {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
  margin-top: var(--header-height);
}

/* Logo */
.logo {
  color: var(--title-color);
  font-size: var(--subtitle-font-size);
  font-weight: var(--font-bold);
  font-family: var(--title-font);
}

.logo span {
  color: var(--base-color);
}

.logo-alt span {
  color: var(--body-color);
}

/* Menu Navigation */
nav.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: var(--header-height);
}

ul li a {
  display: flex;
  align-items: center;

  color: var(--title-color);
  height: var(--header-height);

  transition: color 0.3s;

  position: relative;
}

ul.grid {
  grid-auto-flow: column;
}

/* Hover & Active link */
ul li a:hover,
ul li a.active {
  color: var(--base-color);
}

ul li a::before {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;

  width: 0;
  height: 2px;
  background: var(--base-color);

  transition: 0.3s;
}

ul li a:hover::before,
ul li a.active::before {
  width: 100%;
}

/* show menu */

/*========= HOME =========*/
#home {
  height: calc(48rem);
  overflow: hidden;
}

#home .container {
  grid-auto-flow: column;
  align-items: center;
  height: 100%;

  position: relative;
}

#home .text {
  max-width: 24.75rem;
}

#home .text p {
  margin-bottom: var(--m-1-5);
}

#home .image img {
  width: 561px;
  position: relative;
  z-index: 1;
}

#home .image::before {
  content: '';
  width: min(100%, 581px);
  height: 100%;

  position: absolute;
  top: -16.8%; /* 68 * 100 / 405 */
  left: 13.25%; /* 77 * 100 / 581 */

  background: var(--base-color-second);
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

/*========= ABOUT =========*/
#about {
  background: white;
}

#about .title {
  margin-left: 0;
}

#about .container {
  grid-auto-flow: column;
  align-items: center;
}

#about .image {
  position: relative;
  left: -2.5rem;
}

#about .image::before {
  content: '';
  position: absolute;
  top: -8.4%; /* 34 * 100 / 405 */
  left: -33%; /* 192 * 100 / 581 */
  z-index: 0;

  width: 100%;
  height: 100%;

  background: var(--base-color-second);
}

#about .image img {
  width: 617px;
  position: relative;
  z-index: 1;
}

#about .image::before,
#about .image img {
  border-radius: 0.25rem;
}

/*========= SERVICES =========*/
#services header {
  margin-bottom: var(--m-4);
}

#services .cards {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

#services .card {
  min-height: 22rem;
  padding: var(--m-3);
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  text-align: center;
}

#services i {
  font-size: 5rem;
  color: var(--base-color);

  display: inline-block;
  margin-bottom: var(--m-1-5);
}

#services .card h3 {
  font-size: var(--subtitle-font-size);
  letter-spacing: 0px;
  margin-bottom: var(--m-0-75);
}

/*========= TESTIMONIAL =========*/
#testimonial {
  background: white;
}

#testimonial blockquote {
  padding: 3.25rem;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#testimonial blockquote p {
  text-indent: 30px;
}

#testimonial blockquote p > span {
  font-family: serif;
  font-size: 3rem;
  line-height: 0;
  position: absolute;
  top: 4.5rem;
  left: 1.5rem;

  color: var(--base-color);
}

#testimonial blockquote cite {
  margin-top: var(--m-1-5);
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-style: normal;
}

#testimonial blockquote cite img {
  clip-path: circle();
  width: 2rem;
  margin-right: var(--m-0-5);
}

/* swiper */
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

/*========= CONTACT =========*/
#contact .container {
  grid-template-columns: 1fr 1fr;
  gap: 16.75rem;
  justify-content: center;
  align-items: center;
}

#contact h2 {
  margin-bottom: var(--m-0-75);
}

#contact p {
  margin-bottom: var(--m-1-5);
}

#contact .button i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact .info {
  justify-content: space-between;
}

#contact .info > div {
  display: flex;
  align-items: center;
}

#contact .info i {
  font-size: 1.5rem;
  margin-right: var(--m-1-5);
  color: var(--base-color);
}

/*========= FOOTER =========*/
footer {
  background: var(--base-color);
  min-height: 16.45rem;
}

footer .container {
  padding-top: 3.75rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

footer .brand {
  color: var(--body-color);
}

footer .brand a.logo {
  display: inline-block;
  margin-bottom: var(--m-1-5);
}

footer .brand p {
  margin-bottom: var(--m-0-75);
}

footer .social {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: 2rem;
}

footer .social a {
  transition: 0.3s;
}

footer .social a:hover {
  transform: translateY(-8px);
}

footer .social a i {
  font-size: 1.5rem;
  color: var(--body-color);
}

/*========= BACK TO TOP =========*/
.back-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.3rem;
  background: var(--base-color);

  z-index: var(--z-top);
  transition: 0.3s;

  clip-path: circle();

  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}

.back-to-top i {
  font-size: var(--title-font-size);
  color: var(--body-color);
}

/* Show button */
.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/*========= MEDIA QUERIES =========*/
/* large devices: 1200 < */
@media (max-width: 1200px) {
  .container {
    margin-left: var(--m-1-5);
    margin-right: var(--m-1-5);
  }
}

/* medium devices: 992 < */

/* small devices: 767 < */
@media (max-width: 767px) {
  :root {
    --m-3: 2rem;
  }
  #services .cards {
    gap: 1rem;
  }

  #contact .container {
    gap: 6rem;
  }
}

/* extra small devices: 600 <  */
@media (max-width: 600px) {
  h1,
  h2 {
    letter-spacing: -1px;
  }

  .section {
    padding: 4rem 0;
  }

  /* home */
  #home .container {
    grid-auto-flow: row;
    margin-left: 0;
    margin-right: 0;
  }

  #home .container div:nth-child(1) {
    order: 1;
    margin-left: var(--m-1-5);
    margin-right: var(--m-1-5);
    text-align: center;
  }

  #home .text {
    max-width: 100%;
  }

  /* about */
  #about .container {
    grid-auto-flow: row;
    margin: 4rem 0 0;
  }

  #about .image {
    left: 0;
  }

  #about .text {
    margin-left: var(--m-1-5);
    margin-right: var(--m-1-5);
  }

  /* services */
  #services header {
    text-align: left;
  }
  #services .cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  /* testimonial */
  #testimonial header {
    text-align: left;
  }

  #testimonial .swiper-slide {
    padding-left: 0;
    padding-right: 0;
  }

  #testimonial blockquote {
    padding: 1.25rem;
  }

  #testimonial blockquote p > span {
    top: 2.5rem;
    left: -0.5rem;
  }

  /* contact */
  #contact .title {
    margin-bottom: var(--m-1);
  }

  #contact .text p {
    margin-bottom: var(--m-2);
  }

  #contact .container {
    grid-template-columns: 1fr;
    gap: var(--m-2);
  }

  /* footer */
  footer .container {
    grid-template-columns: 1fr;
  }

  footer .social {
    justify-content: flex-start;
  }
}
